<script>
	import { _, locale } from 'svelte-i18n'
    import { redirect, isActive, url, layout } from "@roxi/routify"
    import TopAppBar, {Row, Section, Title} from '@smui/top-app-bar'
    import IconButton, {Icon} from '@smui/icon-button'
    import Textfield from '@smui/textfield'
	import HelperText from '@smui/textfield/helper-text/index'
    import List, {Separator, Item, Text} from '@smui/list'
    import Graphic from '@smui/list/Graphic.js'
	import Menu, {SelectionGroup, SelectionGroupIcon} from '@smui/menu'
  	import { page, metatags } from '@roxi/routify'
	import Profile from './_profile.svelte'
  	import Button, {Label} from '@smui/button';
  	import Dialog, {Content, Actions, Title as DialogTitle} from '@smui/dialog';

    import { beforeUpdate } from 'svelte'

	import { getUser, logOut, auth} from '../login.js'

  	$: metatags.title = $_($page.title) + ' - Bibliotec'

    const dense = false
    const prominent = false
    const secondaryColor = false

    let valuu = ''
	let clickedDense
	let menu = true

	let clicked

	let logOutConfirmation

    let user

    getUser()
        .then(r => { user = r; })
        .catch(e => { logOut(); window.location.href = window.location.origin })
</script>
<svelte:head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
</svelte:head>
{#if user != undefined}
<header class="layout-header">
    <TopAppBar variant="static" {prominent} {dense} color={secondaryColor ? 'secondary' : 'primary'}>
      <Row>
    	  <Section>
            <Title><a href={$url('/web')}>📘 Bibliotec</a></Title>
          </Section>
          <Section>
      		<Textfield class="shaped-outlined" input$id="search-input" input$placeholder="Search your library..." variant="outlined" bind:value={valuu} input$aria-controls="helper-text-shaped-outlined-a" input$aria-describedby="helper-text-shaped-outlined-a" />
          </Section>
          <Section align="end" toolbar>
    		<span class="top-bar-buttons">
    		    <Profile />
                <IconButton class="material-icons" aria-label="More" title="More" on:click={() => menu.setOpen(true)}>more_vert</IconButton>
                <Menu bind:this={menu}>
                    <List>
                        <Item on:SMUI:action={() => clicked = 'Cut'}><Text><Icon class="material-icons">settings</Icon> Preferences</Text></Item>
                        <Separator />
                        <Item on:SMUI:action={logOutConfirmation.open}><Text><Icon class="material-icons">exit_to_app</Icon> Help</Text></Item>

                        <Separator />
                        <Item on:SMUI:action={logOutConfirmation.open}><Text><Icon class="material-icons">exit_to_app</Icon> Sign out</Text></Item>
                    </List>
                </Menu>
    		</span>
          </Section>
      </Row>
    </TopAppBar>
</header>
<div class="wrapper">
    <aside>
        <nav>
            <List >
                {#each $layout.children as child}
                    <Item on:SMUI:action={() => clickedDense = 'Edit'} activated={$isActive(child.path)}>
                      <a href={$url(child.path)}>
                        <Graphic class="material-icons">{child.meta.icon}</Graphic>
                            <Text>{$_(child.title)}</Text>
                      </a>
                    </Item>
                {/each}
            </List>
        </nav>
    </aside>
    <div class="slot">
        <slot>Loading</slot>
    </div>
</div>
<Dialog bind:this={logOutConfirmation} aria-labelledby="simple-title" aria-describedby="simple-content">
  <DialogTitle id="simple-title">Sign out</DialogTitle>
  <Content id="simple-content">
    Are you sure you want to sign out?
  </Content>
  <Actions>
    <Button on:click={logOutConfirmation.close}>
      <Label>No</Label>
    </Button>
    <Button on:click={() => { logOut(); $redirect('/') } }>
      <Label>Yes</Label>
    </Button>
  </Actions>
</Dialog>
{/if}
