<script>
  import Dialog, {Title, Content, Actions} from '@smui/dialog';
  import Button, {Label} from '@smui/button';
  import IconButton, {Icon} from '@smui/icon-button'
  import Textfield from '@smui/textfield'
  import HelperText from '@smui/textfield/helper-text/index'
  import CharacterCounter from '@smui/textfield/character-counter/index';
  import { onMount} from 'svelte'
  import { getUser } from '../login.js'


  let dialog

  let userDetails = getUser()

  function deleteItem() {
    // TODO: delete the item.
  }

  const selectionOpenHandler = async () => { userDetails = getUser(); }
  function selectionCloseHandler(){}

</script>
<IconButton on:click={() => dialog.open()} class="material-icons" aria-label="Account" title="Profile">account_circle</IconButton>
<Dialog bind:this={dialog} aria-labelledby="form-title" aria-describedby="list-selection-content" on:MDCDialog:closed={selectionCloseHandler} on:MDCDialog:opened={selectionOpenHandler}>
    <Title id="form-title">Profile</Title>
    <Content>
        {#await userDetails}
        Loading profile information...
        {:then user}
        <Textfield disabled value={user[0].username} input$maxlength="30" label="Username" input$aria-controls="helper-text-char-count-a" input$aria-describedby="helper-text-char-count-a" />
        <HelperText id="helper-text-char-count-a">Your username<span slot="character-counter"><CharacterCounter>0 / 18</CharacterCounter></span></HelperText>
        <Textfield value={user[0].email} input$maxlength="30" label="E-mail" input$aria-controls="helper-text-char-count-a" input$aria-describedby="helper-text-char-count-a" />
        <HelperText id="helper-text-char-count-a">Your e-mail<span slot="character-counter"><CharacterCounter>0 / 18</CharacterCounter></span></HelperText>
        <Textfield value={user[0].first_name} input$maxlength="30" label="First name" input$aria-controls="helper-text-char-count-a" input$aria-describedby="helper-text-char-count-a" />
        <HelperText id="helper-text-char-count-a">Your first name<span slot="character-counter"><CharacterCounter>0 / 18</CharacterCounter></span></HelperText>
        <Textfield value={user[0].last_name} input$maxlength="30" label="Last name" input$aria-controls="helper-text-char-count-a" input$aria-describedby="helper-text-char-count-a" />
        <HelperText id="helper-text-char-count-a">Your last name<span slot="character-counter"><CharacterCounter>0 / 18</CharacterCounter></span></HelperText>
        {/await}
    </Content>
    <Actions>
        <Button>
            <Label>Cancel</Label>
        </Button>
        <Button>
            <Label>Save</Label>
        </Button>
    </Actions>
</Dialog>
