//
// MDC Theme
//
@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #ff3e00;
$mdc-theme-primary: rgb(66, 124, 168) ;
$mdc-theme-secondary: #676778;
$mdc-theme-secondary: rgba(100, 0, 60, .7);
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-on-primary: rgba(0,0,0,.85);

$mdc-theme-error: $material-color-red-900;

html, body {
    height: 100%;
    overflow: hidden;
	padding: 0;
}

a, a:visited, a:hover{
	color: initial;
	text-decoration: none;
}
.layout-header .mdc-top-app-bar {
	background: #fff;
    border-bottom: 1px solid $material-color-grey-300;
    width: 100%;
    a {
        color: $mdc-theme-on-primary;
        text-decoration: none
    }

    .mdc-top-app-bar__title{
        font-weight: normal;
    }
	.mdc-text-field{
		min-width: 100%;
		margin: auto;
		#search-input{
			width: 100%;
			padding-top: 0;
		}
	}
	.top-bar-buttons{
        .mdc-icon-button{
            margin-bottom: 0;
        }
	}
}
.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}
aside {
    width: 256px;
	height: 100%;
    border-right: 1px solid $material-color-grey-300;

	.mdc-list {
		padding:0;
	}

	.mdc-list-item {
        padding: 0;
		a {
			display: inline-block;
			width: 100%;
            padding: 10px 32px
		}
	}

	.mdc-list .mdc-list-item__graphic{
		float: left;
	}
}

.shaped-outlined .mdc-text-field__input {
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 0;
}
.shaped-outlined .mdc-notched-outline .mdc-notched-outline__leading{
    border-radius: 28px 0 0 28px;
    width: 28px;
	height: 75%;
}
.shaped-outlined .mdc-notched-outline .mdc-notched-outline__trailing{
	border-radius: 0 28px 28px 0;
	height: 75%;
}
.slot {
    width: calc(100% - 296px);
	padding: 20px;
    background: rgba(0,0,0,.03);
    max-height: calc(100% - 120px);
    overflow-y: scroll;

	.mdc-fab {
		position: fixed;
		right: 40px;
		bottom: 40px;
	}
}

.section-title{
	font-size: 13px;
	color: $material-color-grey-800;
}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.folders {
    margin: 0 0 20px 0;
	.mdc-card{
		margin-top: 10px;
		margin-right: 10px;
		.material-icons {
			float: left
		}
		.folder-wrapper{
			display: flex;
		}
		span {
			margin-top: 3px;
			margin-bottom: -3px;
			margin-left: 10px
		}
	}

}
.documents {
    .mdc-card{
        margin: 10px 10px 0 0;
        max-width: calc(16.6% - 10px);
        min-width: 230px;
    }
    .mdc-card:first-of-type{
        margin-left: 0
    }
    .mdc-card__primary-action{
        display: inline-block;
    }

}
.bibliotec h2, .bibliotec a{
   font-weight: normal;
}
.home-login {
    text-align: center;

    .mdc-card {
        padding: 40px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 300px;
    }
}
.mdc-dialog__content{
    .mdc-text-field__input{
        margin-bottom: 0;
        // padding-top: 30px;
    }
}
