<script>
    import { redirect } from '@roxi/routify'
    import { generateToken } from './login.js'


    const urlParams = new URLSearchParams(window.location.search);

    const code = urlParams.get('code')

    if (localStorage.getItem('accessToken') != null)
        $redirect('/web')

    else if (code == null)
        $redirect('/')

    else
        generateToken(code)

    $redirect('/web')
</script>
<span></span>
