<script>
    import Card, {Content} from '@smui/card'
    import HelperText from '@smui/textfield/helper-text/index'
    import Textfield from '@smui/textfield'
    import Button, {Label} from '@smui/button'
    import Bibliotec from './bibliotec.svelte'
    import { url, goto } from '@roxi/routify'
    import { registerApp, generateAuthorizationUrl } from './login.js'
    import { isUrl } from './utils.js'


    let instanceUrl = ''

    $: invalidUrl = !isUrl(instanceUrl)

    const redirectUri = window.location.href + './authorize'

    const logIn = async () => {
        await registerApp(instanceUrl, redirectUri)

        window.location.href = await generateAuthorizationUrl()
    }
</script>
{#if (localStorage.getItem('accessToken') == null) }
<div class="home-login">
    <Card style="width: 450px">
            <Bibliotec/>
            <Textfield input$autofocus="autofocus" variant="standard" bind:invalid={invalidUrl} bind:value={instanceUrl} label="Your instance's URL" input$aria-controls="helper-text-filled-a" input$aria-describedby="helper-text-filled-a" />
            <HelperText id="helper-text-filled-a">Your instance's URL (eg: https://example.com)</HelperText>
            <Button disabled={invalidUrl || instanceUrl.length == 0} on:click={logIn}> Log in </Button>
    </Card>
</div>
{/if}
