<script>
	import Card, {Content, PrimaryAction, Media, MediaContent, Actions, ActionButtons, ActionIcons} from '@smui/card';
    import IconButton, {Icon} from '@smui/icon-button';
	import Button, {Label} from '@smui/button';
	import Fab from '@smui/fab';
    import {url} from '@roxi/routify'

	let clicked = 0
    let docs = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'a', 'b', 'c', ]
    let folders = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
</script>
<style>
</style>
<section class="folders">
	<Label class="section-title">Folders</Label>
	<div class="section-wrapper">
    	{#each folders as b}
		<Card style="width: 280px;" draggable>
			 <PrimaryAction on:click={() => clicked++} padded>
                <a href={$url('./folder/test')}>
				    <div class="folder-wrapper">
				    	<Icon class="material-icons">folder</Icon>
    	            	<Label>history</Label>
				    </div>
                </a>
    	    </PrimaryAction>
		</Card>
		{/each}
	</div>
</section>
<section class="documents">
	<Label class="section-title">Documents</Label>
	<div class="section-wrapper">
    	{#each docs as b}
    	<Card draggable>
    	        <PrimaryAction on:click={() => clicked++}>
                  <a href={$url('./document/test')}>
    	            <Media class="card-media-16x9" aspectRatio="16x9">
    	              <MediaContent>
    	                  <div style="color: #fff; position: absolute; bottom: 16px; left: 16px;">
    	                    <h2 class="mdc-typography--headline6" style="margin: 0;">A card with media.</h2>
    	                    <h3 class="mdc-typography--subtitle2" style="margin: 0;">And a subtitle.</h3>
    	                  </div>
    	              </MediaContent>
    	            </Media>
    	            <Content class="mdc-typography--body2">
    	              It's all in this card. It's a veritable smorgasbord of card features.
    	            </Content>
                   </a>
    	        </PrimaryAction>
    	        <Actions>
    	          <ActionIcons>
    	            <IconButton class="material-icons" on:click={() => clicked++} title="More options">more_vert</IconButton>
    	          </ActionIcons>
    	        </Actions>
    	      </Card>
    	{/each}
	</div>
</section>
<Fab><Icon class="material-icons">add</Icon></Fab>
